main{
    margin: 100px auto;
    width: 80vw;
    min-width: 820px;
    max-width: 1000px;
    border: 2px solid navy;
}

form, fieldset.levote, fieldset.lesOptions, fieldset.lesBoutons{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

fieldset fieldset{
    margin-bottom: 2%;
    padding: 5px;
}

fieldset.colonne{
    width: 45%;
    border: none;
}

label{
    display: block;
}

#identification{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 12%;
}

#identification label{
    margin-top: 2%;
}

#identification input, #identification select{ 
    width: 150px;
}

span, input[type="checkbox"]{ 
    margin-right: 10px;
}

textarea{
    width: 100%;
    resize: none;
}

fieldset.levote span{
    display: inline-block;
    width: 14px;
    height: 15px;
    vertical-align: middle;
}
